.pt-32 {
    padding-top: 32px;
}

.pt-12 {
    padding-top: 12px;
}

.mt-12 {
    margin-top: 12px;
}


.pt-64 {
    padding-top: 64px;
}

.pt-128 {
    padding-top: 128px;
}


.pl-64 {
    padding-left: 64px;
}

.pl-128 {
    padding-left: 128px;
}

.pr-64 {
    padding-right: 64px;
}

.pr-128 {
    padding-right: 128px
}

.pb-96 {
    padding-bottom: 96px;
}