{% extends "template.html" %}

{% block head %}
<link rel="stylesheet" href="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.3.0/css/ol.css" type="text/css">


{% endblock %}

{% block body %}
<div id="map" style="width: 800px; height: 700px;"></div>
<div id="popup" class="ol-popup">
  <a href="#" id="popup-closer" class="ol-popup-closer"></a>
  <div id="popup-content"></div>
</div>




<script src="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.3.0/build/ol.js"></script>
<script>
  var attribution = new ol.control.Attribution({
    collapsible: false
});

var map = new ol.Map({
    controls: ol.control.defaults({attribution: false}).extend([attribution]),
    layers: [
        new ol.layer.Tile({
            source: new ol.source.OSM({
                url: 'https://tile.openstreetmap.org/{z}/{x}/{y}.png',
                attributions: [ ol.source.OSM.ATTRIBUTION, 'Tiles courtesy of <a href="https://openstreetmap.org/">OSM</a>' ],
                maxZoom: 20,
                minZoom: 16
            })
        })
    ],
    target: 'map',
    view: new ol.View({
      //-79.046761, 35.904613
        center: ol.proj.fromLonLat([-79.046761, 35.904613]),
        maxZoom: 20,
        zoom: 17,
        minZoom: 16
    })
});


var layer = new ol.layer.Vector({
  source: new ol.source.Vector({
      features: [
          new ol.Feature({
              geometry: new ol.geom.Point(ol.proj.fromLonLat([-79.046761, 35.904613]))
          })
      ]
  })
});
map.addLayer(layer);

var container = document.getElementById('popup');
var content = document.getElementById('popup-content');
var closer = document.getElementById('popup-closer');

var overlay = new ol.Overlay({
    element: container,
    autoPan: true,
    autoPanAnimation: {
        duration: 250
    }
});
map.addOverlay(overlay);

closer.onclick = function() {
    overlay.setPosition(undefined);
    closer.blur();
    return false;
};

map.on('singleclick', function (event) {
  if (map.hasFeatureAtPixel(event.pixel) === true) {
      var coordinate = event.coordinate;

      content.innerHTML = '<b>Hello world!</b><br />I am a popup.';
      overlay.setPosition(coordinate);
  } else {
      overlay.setPosition(undefined);
      closer.blur();
  }
});
                            

// LINE REFERENCE: https://stackoverflow.com/a/52244847

var coordinates = [[-79.045869, 35.909347], [-79.0475, 35.91]]; 

var lineString = new ol.geom.LineString(coordinates);
lineString.transform('EPSG:4326', 'EPSG:3857');

var feature = new ol.Feature({
  geometry: lineString,
  name: 'Line'
});

var lineStyle = new ol.style.Style({
  stroke: new ol.style.Stroke({
    color: '#800080',
    width: 6
  })
});

var source = new ol.source.Vector({
  features: [feature]
});
var vector = new ol.layer.Vector({
  source: source,
  style: [lineStyle]
});
map.addLayer(vector);

</script>
{% endblock %}

